
<div class="navbar-right hidden-xs" style="margin-left:15px; margin-top:8px;">
    @Html.ActionLink("Вхід", "Index", "Account", new { area = "" }, new { @class = "navbar-brand my-2 my-sm-0" })
</div>
